<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deployments Overview</title>
    <link rel="stylesheet" href="/vendor/ink/css/ink.css">
    <link rel="stylesheet" href="/style/style.css">
    <link rel="stylesheet" href="/vendor/codemirror/codemirror.css">
    <link rel="stylesheet" href="/vendor/humane/themes/original.css">
  </head>
  <body>
    <nav class="ink-navigation">
       <ul class="menu horizontal blue">
          <li><a class="logoPlaceholder" href="#home" id="header_logo_text">Deployments Overview</a></li>
          <li><a href="#scripts" id="header_logo_text">Scripts</a></li>
       </ul>
    </nav>

    <div>
      <div style="clear: both; height: 45px;"></div>
      <div id="outlet"></div>
      <div style="clear: both; height: 2em;"></div>
    </div>

    <footer>
      Deployments Overview is built using: <a href="https://github.com/f5io/satnav-js" target="_blank">SatNav-js</a>, <a href="http://ink.sapo.pt/" target="_blank">Ink</a>, and <a href="http://nodejs.org/" target="_blank">Node.js</a>
    </footer>

    <script type="text/x-template" id="loading">
      <div style="text-align: center">
        <div>Loading...</div>
        <div class="loading"></div>
      </div>
    </script>
    <script type="text/x-template" id="home"><div data-controller="BranchBrowser" class=" ink-grid">
  <div class="column-group">
    <select class="large-100">
    {{#each this}}
      <option>{{environment}}</option>
    {{/each}}
    </select>
  </div>
  <div class="infobox column-group">
    <h2 class="large-100">\{{appName}} v\{{imageVersion}}</h2>
    <div class="large-80">
      <div class="large-100">
        <dl>
          <dt>Environment:</dt>
          <dd>\{{environment}}</dd>
          <dt>Deployed on:</dt>
          <dd>\{{#if _updated}}\{{moment _updated 'MMMM Do YYYY, h:mm:ss a Z'}}\{{else}}\{{moment _created 'MMMM Do YYYY, h:mm:ss a Z'}}\{{/if}}</dd>
          \{{#if gitSha}}
          <dt>GIT SHA:</dt>
          <dd><a href="https://devops-tools.pearson.com/stash/projects/OCC/repos/classroom-ui/commits/\{{gitSha}}">\{{gitSha}}</a></dd>
          \{{/if}}
          <dt>GIT URL:</dt>
          <dd>\{{gitUrl}}</dd>
          <dt>GIT Branch:</dt>
          <dd>\{{#if gitBranch}}\{{gitBranch}}\{{else}}master\{{/if}}</dd>
          <dt>Package Version:</dt>
          <dd>\{{imageVersion}}</dd>
        </dl>
      </div>
      <div class="large-100">
        <h3>Hosts: <a href="#scripts/\{{pick hostsInfo &apos;ip&apos; &apos;,&apos;}}">SSH All</a></h3>
        <ul class="listing">
          \{{#each hostsInfo}}
          <li>IP: <a href="http://\{{ip}}:\{{port}}" target="_blank">\{{ip}}:\{{port}}</a><br>
            SSH: <a href="#scripts/\{{ip}}">\{{ip}}:22</a><br>
            \{{#if error}}
              <span class="ink-label error">\{{error}}</span><br>
              Status: <a href="http://\{{ip}}:\{{port}}/status" target="_blank">View Status</a>
            \{{else}}
              VER: v\{{status.version}}
            \{{/if}}
            </li>
          \{{/each}}
        </ul>
      </div>
      <div class="large-100">
        <h3>Proxies: <a href="#scripts/\{{proxies}}">SSH All</a></h3>
        <ul class="listing">
          \{{#each proxies}}
            <li>IP: <a href="http://\{{this}}:10000" target="_blank">\{{this}}:10000</a><br>
            SSH: <a href="#scripts/\{{this}}">\{{this}}:22</a>
            </li>
          \{{/each}}
        </ul>
      </div>
      <div class="large-100">
        <h3>Raw Data:</h3>
        <pre>\{{JSONstringify this}}</pre>
      </div>
    </div>
    <div class="large-20">
      <h3>History</h3>
      <ul>
        \{{#each imageVersions}}
        <li>v\{{version}}<br>\{{moment date 'MMMM Do YYYY, h:mm:ss a Z'}}</li>
        \{{/each}}
      </ul>
    </div>
  </div>
</div>
</script>
    <script type="text/x-template" id="scripts"><form target="/api/v1/script" method="POST" data-controller="ScriptEditor">
  <div style="padding: 1em">
    <div class="button-group">
      <select class="ink-button">
      {{#each items}}
         <option value="{{_id}}">{{name}}</option>
      {{/each}}
      </select>
      <button class="ink-button load noeditmode">Reload</button>
      <button class="ink-button new noeditmode">New</button>
      <button class="ink-button save noeditmode">Save</button>
      <button class="ink-button execute" style="display: none">Execute</button>
    </div>
    <fieldset>
      <label>Username: <input type="text" class="user" value="ubuntu" style="width: 100%; border: 1px solid silver;"></label>
      <label>Host: <input type="text" class="host" value="" style="width: 100%; border: 1px solid silver;"></label>
      <label>Port: <input type="text" class="port" value="22" style="width: 100%; border: 1px solid silver;"></label>
      <label class="noeditmode">Name: <input type="text" id="name" name="name" value="" style="width: 100%; border: 1px solid silver;"></label>
      <label class="noeditmode">Source: <div style="border: 1px solid silver;"><textarea id="source" name="source"></textarea></div></label>
    </fieldset>
  </div>
  <div class="output">
    <pre style="background: black; color: green; padding: 1em; border: 1px solid silver;"></pre>
  </div>
</form>
</script>
    <script type="text/x-template" id="monitor"><h1 class="pageTitle">Monitoring</h1>
<h2>{{environment}}</h2>
<div data-controller="MonitorController" data-hosts="{{hosts}}" class="monitor">
  <div class="url \{{style}}">
    <div class="heading">\{{url}}</div>
    <label>Last Completed at: </label>\{{moment lastCompleted 'MMMM Do YYYY, h:mm:ss a Z'}}<br>
    <label>Last Response Time: </label>\{{lastDuration}}ms<br>
    \{{#if lastOver1Second}}
      <label>Started slowdown: </label>\{{moment startedSlowdown 'MMMM Do YYYY, h:mm:ss a Z'}}<br>
      <label>Last slow at: </label>\{{moment lastOver1Second 'MMMM Do YYYY, h:mm:ss a Z'}}<br>
      <label>Slow Count: </label>\{{numSlow}} of \{{windowSlow}} were slow
    \{{/if}}
  </div>
</div>
</script>

    <script type="text/javascript" src="/vendor/handlebars/handlebars.js"></script>
    <script type="text/javascript" src="/vendor/satnav/dist/satnav.js"></script>
    <script type="text/javascript" src="/vendor/qrcode/qrcode.js"></script>
    <script type="text/javascript" src="/vendor/async/async.js"></script>
    <script type="text/javascript" src="/vendor/moment/moment.min.js"></script>
    <script type="text/javascript" src="/vendor/humane/humane.js"></script>
    <script type="text/javascript" src="/vendor/codemirror/codemirror.js"></script>
    <script type="text/javascript" src="/vendor/ansi/ansi.js"></script>
    <script type="text/javascript" src="/vendor/codemirror/mode/javascript/javascript.js"></script>

    <script type="text/javascript" src="/socket.io/socket.io.js"></script>

    <script type="text/javascript" src="/js/app.js"></script>
  </body>
</html>
