<div data-controller="BranchBrowser" class=" ink-grid">
  <div class="column-group">
    <select class="large-100">
    {{#each this}}
      <option>{{environment}}</option>
    {{/each}}
    </select>
  </div>
  <div class="infobox column-group">
    <h2 class="large-100">\{{appName}} v\{{imageVersion}}</h2>
    <div class="large-80">
      <div class="large-100">
        <dl>
          <dt>Environment:</dt>
          <dd>\{{environment}}</dd>
          <dt>Deployed on:</dt>
          <dd>\{{#if _updated}}\{{moment _updated 'MMMM Do YYYY, h:mm:ss a Z'}}\{{else}}\{{moment _created 'MMMM Do YYYY, h:mm:ss a Z'}}\{{/if}}</dd>
          \{{#if gitSha}}
          <dt>GIT SHA:</dt>
          <dd><a href="https://devops-tools.pearson.com/stash/projects/OCC/repos/classroom-ui/commits/\{{gitSha}}">\{{gitSha}}</a></dd>
          \{{/if}}
          <dt>GIT URL:</dt>
          <dd>\{{gitUrl}}</dd>
          <dt>GIT Branch:</dt>
          <dd>\{{#if gitBranch}}\{{gitBranch}}\{{else}}master\{{/if}}</dd>
          <dt>Package Version:</dt>
          <dd>\{{imageVersion}}</dd>
        </dl>
      </div>
      <div class="large-100">
        <h3>Hosts: <a href="#scripts/\{{pick hostsInfo 'ip' ','}}">SSH All</a></h3>
        <ul class="listing">
          \{{#each hostsInfo}}
          <li>IP: <a href="http://\{{ip}}:\{{port}}" target="_blank">\{{ip}}:\{{port}}</a><br />
            SSH: <a href="#scripts/\{{ip}}">\{{ip}}:22</a><br />
            \{{#if error}}
              <span class="ink-label error">\{{error}}</span><br />
              Status: <a href="http://\{{ip}}:\{{port}}/status" target="_blank">View Status</a>
            \{{else}}
              VER: v\{{status.version}}
            \{{/if}}
            </li>
          \{{/each}}
        </ul>
      </div>
      <div class="large-100">
        <h3>Proxies: <a href="#scripts/\{{proxies}}">SSH All</a></h3>
        <ul class="listing">
          \{{#each proxies}}
            <li>IP: <a href="http://\{{this}}:10000" target="_blank">\{{this}}:10000</a><br />
            SSH: <a href="#scripts/\{{this}}">\{{this}}:22</a>
            </li>
          \{{/each}}
        </ul>
      </div>
      <div class="large-100">
        <h3>Raw Data:</h3>
        <pre>\{{JSONstringify this}}</pre>
      </div>
    </div>
    <div class="large-20">
      <h3>History</h3>
      <ul>
        \{{#each imageVersions}}
        <li>v\{{version}}<br />\{{moment date 'MMMM Do YYYY, h:mm:ss a Z'}}</li>
        \{{/each}}
      </ul>
    </div>
  </div>
</div>
