<h1 class="pageTitle">Monitoring</h1>
<h2>{{environment}}</h2>
<div data-controller="MonitorController" data-hosts="{{hosts}}" class="monitor">
  <div class="url \{{style}}">
    <div class="heading">\{{url}}</div>
    <label>Last Completed at: </label>\{{moment lastCompleted 'MMMM Do YYYY, h:mm:ss a Z'}}<br />
    <label>Last Response Time: </label>\{{lastDuration}}ms<br />
    \{{#if lastOver1Second}}
      <label>Started slowdown: </label>\{{moment startedSlowdown 'MMMM Do YYYY, h:mm:ss a Z'}}<br />
      <label>Last slow at: </label>\{{moment lastOver1Second 'MMMM Do YYYY, h:mm:ss a Z'}}<br />
      <label>Slow Count: </label>\{{numSlow}} of \{{windowSlow}} were slow
    \{{/if}}
  </div>
</div>
