<form target="/api/v1/script" method="POST" data-controller="ScriptEditor">
  <div style="padding: 1em">
    <div class="button-group">
      <select class="ink-button">
      {{#each items}}
         <option value="{{_id}}">{{name}}</option>
      {{/each}}
      </select>
      <button class="ink-button load noeditmode">Reload</button>
      <button class="ink-button new noeditmode">New</button>
      <button class="ink-button save noeditmode">Save</button>
      <button class="ink-button execute" style="display: none">Execute</button>
    </div>
    <fieldset>
      <label>Username: <input type="text" class="user" value="ubuntu" style="width: 100%; border: 1px solid silver;" /></label>
      <label>Host: <input type="text" class="host" value="" style="width: 100%; border: 1px solid silver;" /></label>
      <label>Port: <input type="text" class="port" value="22" style="width: 100%; border: 1px solid silver;" /></label>
      <label class="noeditmode">Name: <input type="text" id="name" name="name" value="" style="width: 100%; border: 1px solid silver;" /></label>
      <label class="noeditmode">Source: <div style="border: 1px solid silver;"><textarea id="source" name="source"></textarea></div></label>
    </fieldset>
  </div>
  <div class="output">
    <pre style="background: black; color: green; padding: 1em; border: 1px solid silver;"></pre>
  </div>
</form>
