ul.listing {
  list-style: none;
}
ul.listing li {
  float: left;
  width: 192px;
  border: 1px dotted silver;
  padding-bottom: 10px;
  margin-left: 8px;
}
#outlet {
  padding-bottom: 1em;
}
#outlet .output h1 {
  color: white;
  text-decoration: underline;
}
.noeditmode {
  display: none;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
footer {
  clear: both;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}
.leftbar {
  border-left: 1px solid silver;
  border-bottom: 1px solid silver;
}
a {
  text-decoration: none;
}
.ink-button {
  height: 35px;
}
.monitor .url {
  width: 500px;
  float: left;
  display: inline-block;
  padding-bottom: 1em;
  border: 1px solid silver;
  height: 140px;
  word-wrap: break-word;
  overflow-x: none;
  overflow-y: hidden;
}
.monitor .url label {
  font-weight: bold;
}
.monitor .url .heading {
  font-weight: bold;
  border-bottom: 1px solid silver;
  padding-bottom: 5px;
  display: block;
  background: silver;
  color: black;
  height: 45px;
}
.monitor .warning {
  background: red;
  color: white;
}
